# Banco de dados
MYSTERYREALMS_DATASOURCE_URL=jdbc:mysql://localhost:3306/mysteryrealms?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
MYSTERYREALMS_DATASOURCE_USERNAME=mysteryrealms
MYSTERYREALMS_DATASOURCE_PASSWORD=mysteryrealms

# SMTP
MYSTERYREALMS_MAIL_HOST=localhost
MYSTERYREALMS_MAIL_PORT=587
MYSTERYREALMS_MAIL_USERNAME=
MYSTERYREALMS_MAIL_PASSWORD=
MYSTERYREALMS_MAIL_SMTP_AUTH=true
MYSTERYREALMS_MAIL_SMTP_STARTTLS=true
MYSTERYREALMS_MAIL_FROM=no-reply@mysteryrealms.local

# URL pública da aplicação
MYSTERYREALMS_PUBLIC_BASE_URL=http://localhost:8080
